<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="Deliverd/RTC">
                        <app-deliverd-pod></app-deliverd-pod>                    
                    </mat-tab> 
                    <mat-tab label="Undeliverd/Pending/RTO">
                        <app-undeliverd-pod></app-undeliverd-pod>
                    </mat-tab> 
                    <mat-tab label="Bulk update">
                        <app-bulk-pod></app-bulk-pod>
                    </mat-tab> 
               </mat-tab-group>
            </div>
        </div>
    </div>
</div>