<div *ngIf="showTable && dataSource.data.length > 0">
    <div class="table-responsive">
      <div class="row d-flex m-0" style="justify-content: right;" >
        <div class="form-group has-search col-sm-3">
          <button class="btn btn-secondary" type="button" style="z-index: 1001;
          position: absolute;
          background: none;
          top: -4px;
          width: 38px;
          height: 32px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: #2e3f55;">
            <i class="fa fa-search" style="color: #a3b8d4; margin-top: -24px;"></i>
          </button>
          <input type="text" class="form-control" placeholder="Search.."  id="Filter" #input (keyup)="applyFilter($event.target.value)" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
        </div>
       </div>
    </div>
    <div class="table-responsive text-nowrap" >
       <table id="myTable" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color: #e2e9f1;" matSort >
    
        <ng-container matColumnDef="awbNo">
          <th mat-header-cell *matHeaderCellDef>Awb no. </th>
          <td mat-cell *matCellDef="let element"> {{element.awbNo}} </td>
        </ng-container>
        
        <ng-container matColumnDef="bookDate">
          <th mat-header-cell *matHeaderCellDef> Booking Date</th>
          <td mat-cell *matCellDef="let element"> {{element.bookDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="manifestNo">
          <th mat-header-cell *matHeaderCellDef> MFT No </th>
          <td mat-cell *matCellDef="let element"> {{element.manifestNo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="manifestDate">
          <th mat-header-cell *matHeaderCellDef> Manifest Date </th>
          <td mat-cell *matCellDef="let element"> {{element.manifestDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="customerType">
          <th mat-header-cell *matHeaderCellDef> Customer Type </th>
          <td mat-cell *matCellDef="let element"> {{element.customerType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="consigneeName">
          <th mat-header-cell *matHeaderCellDef> Consignee </th>
          <td mat-cell *matCellDef="let element"> {{element.consigneeName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Origin">
          <th mat-header-cell *matHeaderCellDef>Origin </th>
          <td mat-cell *matCellDef="let element"> {{element.Origin}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Destination_Name">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let element"> {{element.Destination_Name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="consigneePin">
          <th mat-header-cell *matHeaderCellDef> Consignee Pin </th>
          <td mat-cell *matCellDef="let element"> {{element.consigneePin}} </td>
        </ng-container>
        
        <ng-container matColumnDef="modeCode">
          <th mat-header-cell *matHeaderCellDef> Mode</th>
          <td mat-cell *matCellDef="let element"> {{element.modeCode}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Product_Type">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let element"> {{element.Product_Type}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Qty">
          <th mat-header-cell *matHeaderCellDef> Pcs </th>
          <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ActualWt">
          <th mat-header-cell *matHeaderCellDef>Actual Wt</th>
          <td mat-cell *matCellDef="let element"> {{element.ActualWt}} </td>
        </ng-container>
        
        <ng-container matColumnDef="totalAmt">
          <th mat-header-cell *matHeaderCellDef>Total Amt</th>
          <td mat-cell *matCellDef="let element"> {{element.totalAmt}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
       </table>
      </div>
      <mat-paginator [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [length]="totalPending"
    (page)="loadPage($event)"
    aria-label="Select page of pending DRS records">
  </mat-paginator>
      
  </div>
  <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <img src="./assets/images/NOdata.png" alt="">
  </div>