<div class="container" style="margin: 0; max-width: 100%;">
  <div class="row Topbutton">
      <div class="col-sm-6">
        <h1 style="font-weight: 600; font-size: large; margin-bottom: 0; margin-top: 7px; ">
          {{ Title }}
        </h1>
      </div>
    <div class="col-sm-2 d-flex cancel download-button" style="justify-content: space-around;">
      <button type="submit" class="btn btn-outline-light" (click)="generateExcel()"><i class="fa-solid fa-table"></i></button>
       <button type="button" class="btn btn-light" (click)="CloseDialog()" style="background: #a6bcbd;">X</button>
    </div>
  </div>
  <div *ngIf="showTable && dataSource.data.length > 0">
    <div class="table-responsive">
      <div class="row d-flex m-0" style="justify-content: right;" >
        <div class="form-group has-search col-sm-3">
          <button class="btn btn-secondary" type="button" style="z-index: 1001;
          position: absolute;
          background: none;
          top: -4px;
          width: 38px;
          height: 32px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: orange;">
            <i class="fa fa-search" style="color: white; margin-top: -4px;"></i>
          </button>
          <input type="text" class="form-control" placeholder="Search.."  id="Filter" #input (keyup)="applyFilter($event.target.value)" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
        </div>
       </div>
    </div>
    <div class="table-responsive text-nowrap" >
      <div class="mat-elevation-z8">
        <table id="genPDF" mat-table [dataSource]="dataSource" class="table-bordered table-striped " style="background-color: rgb(215 244 255 / 87%);" matSort >
      
          <ng-container matColumnDef="AwbNo">
            <th mat-header-cell *matHeaderCellDef>Awb No </th>
            <td mat-cell *matCellDef="let element"> {{element.AwbNo}} </td>
          </ng-container>
    
          <ng-container matColumnDef="BookDate">
            <th mat-header-cell *matHeaderCellDef> Book Date</th>
            <td mat-cell *matCellDef="let element"> {{element.BookDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ConsignerName">
            <th mat-header-cell *matHeaderCellDef> Consigner Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ConsignerName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="ConsigneeName">
            <th mat-header-cell *matHeaderCellDef>  Consignee Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ConsigneeName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Origin">
            <th mat-header-cell *matHeaderCellDef> Origin </th>
            <td mat-cell *matCellDef="let element"> {{element.Origin}} </td>
          </ng-container>
      
          <ng-container matColumnDef="DestinationName">
            <th mat-header-cell *matHeaderCellDef> DestinationName </th>
            <td mat-cell *matCellDef="let element"> {{element.DestinationName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Pincode">
            <th mat-header-cell *matHeaderCellDef> Pincode </th>
            <td mat-cell *matCellDef="let element"> {{element.Pincode}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Qty">
            <th mat-header-cell *matHeaderCellDef> Qty</th>
            <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ActualWt">
            <th mat-header-cell *matHeaderCellDef> Actual Wt</th>
            <td mat-cell *matCellDef="let element"> {{element.ActualWt}} </td>
          </ng-container>
    
          <ng-container matColumnDef="InvoiceNo">
            <th mat-header-cell *matHeaderCellDef> Invoice No </th>
            <td mat-cell *matCellDef="let element"> {{element.InvoiceNo}} </td>
          </ng-container>
    
          <ng-container matColumnDef="InvoiceValue">
            <th mat-header-cell *matHeaderCellDef> Invoice Value </th>
            <td mat-cell *matCellDef="let element"> {{element.InvoiceValue}} </td>
          </ng-container>
    
          <ng-container matColumnDef="E_way_Bill_No">
            <th mat-header-cell *matHeaderCellDef> eWayBill No </th>
            <td mat-cell *matCellDef="let element"> {{element.E_way_Bill_No}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ManifestNo">
            <th mat-header-cell *matHeaderCellDef> Manfest No </th>
            <td mat-cell *matCellDef="let element"> {{element.ManifestNo}} </td>
          </ng-container>
      
          <ng-container matColumnDef="ManifestDate">
            <th mat-header-cell *matHeaderCellDef>  Manifest Date </th>
            <td mat-cell *matCellDef="let element"> {{element.ManifestDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="InscanDate">
            <th mat-header-cell *matHeaderCellDef> Inscan Dt </th>
            <td mat-cell *matCellDef="let element"> {{element.InscanDate | date:'dd/MM/yyyy'}} </td>
          </ng-container>
      
          <ng-container matColumnDef="DrsNo">
            <th mat-header-cell *matHeaderCellDef> Drs No </th>
            <td mat-cell *matCellDef="let element"> {{element.DrsNo}} </td>
          </ng-container>
    
          <ng-container matColumnDef="drsdt">
            <th mat-header-cell *matHeaderCellDef> drs Dt </th>
            <td mat-cell *matCellDef="let element"> {{element.drsdt | date:'dd/MM/yyyy'}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ForwordingName">
            <th mat-header-cell *matHeaderCellDef> Forwording Name</th>
            <td mat-cell *matCellDef="let element"> {{element.ForwordingName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ForwordingNo">
            <th mat-header-cell *matHeaderCellDef> Forwording No</th>
            <td mat-cell *matCellDef="let element"> {{element.ForwordingNo}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
          </ng-container>
                    
          <ng-container matColumnDef="ReasonName">
            <th mat-header-cell *matHeaderCellDef> Reason Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ReasonName}} </td>
          </ng-container>
    
          <ng-container matColumnDef="TypeofCust">
            <th mat-header-cell *matHeaderCellDef> Typeof Cust </th>
            <td mat-cell *matCellDef="let element"> {{element.TypeofCust}} </td>
          </ng-container>
    
          <ng-container matColumnDef="TotalAmt">
            <th mat-header-cell *matHeaderCellDef> Total Amt </th>
            <td mat-cell *matCellDef="let element"> {{element.TotalAmt}} </td>
          </ng-container>          
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="currentPage - 1"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : [10, 25, 50]"
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <img src="./assets/images/NOdata.png" alt="">
  </div>
</div>
<div class="loader-overlay" *ngIf="isExcelLoading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="50">
  </mat-progress-spinner>
</div>