<div class="container">
  <form>
    <div class="row" style="border-bottom: 2px solid  #d2d2d2">
        <div class="col-sm-4">
         <fieldset  >
          <legend>Sender Details
            <div class="row" >
                <div class="col-sm-12">
              
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Name</label>
                        <input class="form-control" type="text" placeholder="Enter Your Name.">
                      </div>
                    </div>
                  </div>

                  <!-- <ng-select [(ngModel)]="selectedCar">
                    <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                 </ng-select>

                 <ng-select [items]="cars" 
                    bindLabel="name" 
                    bindValue="id" 
                    [(ngModel)]="selectedCar">
                </ng-select> -->
               
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Company Name</label>
                        <input class="form-control" type="text" placeholder="Enter Company Name">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Contact No</label>
                        <input class="form-control" type="number" placeholder="Enter Mobile Number">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Email_ID</label>
                        <input class="form-control" type="email" placeholder="Enter Email_ID">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Address-1</label>
                        <input class="form-control" type="text" placeholder="Enter Address-1">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Address-2</label>
                        <input class="form-control" type="text" placeholder="Enter Address-2">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">LandMark</label>
                        <input class="form-control" type="text" placeholder="Enter LandMark.">
                      </div>
                    </div>
                  </div>
                
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">PinCode</label>
                        <input class="form-control" type="text" placeholder="Enter PinCode.">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">City</label>
                        <input class="form-control" type="text" placeholder="Select City.">
                      </div>
                    </div>
                  </div>
                
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">State</label>
                        <input class="form-control" type="text" placeholder="Select Stete">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Country</label>
                        <input class="form-control" type="text" placeholder="Select Country.">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </legend>
          </fieldset>
        </div>

        <div class="col-sm-4">
          <fieldset  >
           <legend>Receiver Details
             <div class="row" >
                 <div class="col-sm-12">
               
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Name</label>
                         <input class="form-control" type="text" placeholder="Enter Your Name.">
                       </div>
                     </div>
                   </div>
                
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Company Name</label>
                         <input class="form-control" type="text" placeholder="Enter Company Name">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Contact No</label>
                         <input class="form-control" type="number" placeholder="Enter Mobile Number">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Email_ID</label>
                         <input class="form-control" type="email" placeholder="Enter Email_ID">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Address-1</label>
                         <input class="form-control" type="text" placeholder="Enter Address-1">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Address-2</label>
                         <input class="form-control" type="text" placeholder="Enter Address-2">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">LandMark</label>
                         <input class="form-control" type="text" placeholder="Enter LandMark.">
                       </div>
                     </div>
                   </div>
                 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">PinCode</label>
                         <input class="form-control" type="text" placeholder="Enter PinCode.">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">City</label>
                         <input class="form-control" type="text" placeholder="Select City.">
                       </div>
                     </div>
                   </div>
                 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">State</label>
                         <input class="form-control" type="text" placeholder="Select Stete">
                       </div>
                     </div>
                   </div>
 
                   <div class="form-group row">
                     <div class="col-sm-12">
                       <div class="textOnInput">
                         <label for="inputText">Country</label>
                         <input class="form-control" type="text" placeholder="Select Country.">
                       </div>
                     </div>
                   </div>
                 </div>
             </div>
           </legend>
           </fieldset>
         </div>

        <div class="col-sm-4">
          <fieldset  >
            <legend>Others Details
            <div class="row">
                <div class="col-sm-12">

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Customer Name</label>
                        <input class="form-control" type="text" placeholder="Enter Your Customer.">
                      </div>
                    </div>
                  </div>
               
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Mode Name</label>
                        <input class="form-control" type="text" placeholder="Enter Mode Name">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Product Name </label>
                        <input class="form-control" type="number" placeholder="Enter Product Name">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Quantity</label>
                        <input class="form-control" type="email" placeholder="Enter Quantity">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Weight</label>
                        <input class="form-control" type="text" placeholder="Enter Weight">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="textOnInput">
                        <label for="inputText">Customer_Type</label>
                        <input class="form-control" type="text" placeholder="Enter Customer_Type">
                      </div>
                    </div>
                  </div>
                  <div style="margin-left: 16px; margin-right: 16px; margin-bottom: 16px;">
                    <button class="btn-login" expand="block" type="submit">Submit</button> 
                  </div>
                </div>
            </div>
          </legend>
        </fieldset>
        </div>
    </div>
  </form>
</div>
  