<div class="container">
    <div class="row" style="border-bottom: 1px solid #d2d2d2;">
      <div class="col-sm-6">
        <h1 style="font-weight: 600;
        font-size: large;
        margin-bottom: 0;
        margin-top: 7px; ">Add Dispatch</h1>
      </div>
        <div class="col-sm-6 d-flex cancel" style="justify-content: right;">
        <button type="button" class="btn btn-light" (click)="closeForm()" style="width: 30px;
        text-align: center;
        line-height: 30px;
        height: 30px;
        font-weight: 500;
        font-size: large;
        background: red;
        color: white;">X</button>
    </div>
    </div>
    <form  [formGroup]="createditForm" (ngSubmit)="formSubmit(createditForm.value)">
      <div class="row">
        <div class="col-sm-6" style="border-right: 1px solid #d2d2d2;">
         
          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Driver_Licence_No"> Driver Licence No :</label>
                <input class="form-control" type="text" formControlName="Driver_Licence_No" placeholder="Enter Driver Licence No">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Opening_Km">Opening Km :</label>
                <input class="form-control" type="number" formControlName="Opening_Km" placeholder="Enter opening Km">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Vehicle_diesel_No">Vehicle diesel No :</label>
                <input class="form-control" type="text" formControlName="Vehicle_diesel_No" placeholder="Enter vehicle diesel No">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Vehicle_diesel_Ltrs">Vehicle diesel Ltrs :</label>
                <input class="form-control" type="text" formControlName="Vehicle_diesel_Ltrs" placeholder="Enter vehicle diesel liters">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Kata_Weight">Kata Weight :</label>
                <input class="form-control" type="number" formControlName="Kata_Weight" placeholder="Enter kata weight">
              </div>
            </div>
          </div>

  
        </div>
  
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Slip_No">Slip No ;</label>
                <input class="form-control" type="number" formControlName="Slip_No" placeholder="Enter slip No" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Brocker_Name">Brocker Name : </label>
                <input class="form-control" type="text" formControlName="Brocker_Name" placeholder="Enter brocker name" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Advance_Paid">Advance Paid :</label>
                <input class="form-control" type="number" formControlName="Advance_Paid" placeholder="Enter advance Paid" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="textOnInput">
                <label for="Diesel_Amount">Diesel Amount :</label>
                <input class="form-control" type="number" formControlName="Diesel_Amount" placeholder="Enter diesel amount" >
              </div>
            </div>
          </div>

        </div>
      </div>
  
          <div class="row form-group d-flex m-0" style="justify-content: right;">
            <div class="col-sm-4 d-flex" style="justify-content: right; padding-right: 0;" >
              <button type="submit" class="btn btn-light other-button">Submit</button>
            </div>
           </div>
        </form>
  </div>
  
