<div class="container">
    <div class="row" style="border-bottom: 1px solid #d2d2d2;">
      <div class="col-sm-6">
        <h1 style="font-weight: 600; font-size: large; margin-bottom: 0; margin-top: 7px; ">Consignee List</h1>
      </div>
      <div class="col-sm-6 d-flex cancel" style="justify-content: right;">
        <button type="button" class="btn btn-light" (click)="CloseDialog()" style="width: 30px; text-align: center; line-height: 30px; height: 30px; font-weight: 500; font-size: large; background: red;color: white;">X</button>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-sm-12">
           <div class="textOnSelect">
              <label class="span">Consignee</label>
              <ng-select  class="custom-select1" [(ngModel)]="consigneeName" style="border: 1px solid #d2d2d2;border-radius: 4px;height: 30px; margin-top: 4px; padding-left: 16px;">
                <ng-option *ngFor="let item of consigneeList" [value]="item.ConsigneeCode" style="font-size: 14px;">{{item.ConsigneeName}}({{item.ConsigneeCode}})</ng-option>
             </ng-select>
            </div>
          <!-- <label id="example-radio-group-label">Pick your favorite consignee</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="selectedConsignee">
            <mat-radio-button *ngFor="let item of consigneeList" [value]="item.ConsigneeCode">{{item.ConsigneeName}}</mat-radio-button>
          </mat-radio-group>
          <div>Your selected consignee is: {{selectedConsignee}}</div> -->
          <div class="row form-group d-flex m-0" style="justify-content: right;">
            <div class="col-sm-4 d-flex" style="justify-content: right; padding-right: 0;" >
              <button type="submit" class="btn btn-light other-button" (click)="submitData()">Submit</button>
            </div>
           </div>
        </div>
      </div>
    </form>
  </div>