* {
    font-size: 12px;
    padding-top: 1.1px;
    color: black;
  }
  form .col-sm-1{
    padding-right: 8px;
  }
  .form-control,
  .form-select,
  .btn {
    height: 26px;
  }
  input, 
  textarea{
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-left: 10px; 
    padding-top: 10px; 
    font-family: auto;
  }
  h3{
    margin: 0;
    font-size: 14px;
    font-family: auto;
    margin-bottom: 5px;
  }
  h4{
    color: #f8f9fa;
  }
  .modal-backdrop
  {
    opacity:-0.5!important;
  }
  .modal-backdrop.in {
  opacity: 0.9;
  }
  .card{
    text-align: inherit;
    display: flex; 
    justify-content: center;
    margin: 4px;
    word-wrap: inherit;
  }
  .card .card-body{
    padding: 1px 5px;
  }
  .card .col-sm-4{
    height: 31px;
  }
  .table-responsive{
    max-height: 400px ; 
    overflow: auto ; 
     padding-top: 0 ;
    margin-bottom: 0;
    color: black;
    font-weight: 400;
    max-height: 180px;
    margin-top: 5px;

  }
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  } 
  .table thead tr th {
    font-size: small;
    padding: 4px 2px;
    text-align: center;
    font-weight: 500;
  }
  .table tbody  tr  td {
     font-size: small;
    padding: 0 8px;
    text-align: center;
  }
  table , td ,th {
    border: 1px Solid #757373;
  }
  table ,th {
    color: white;
  }
  table th{ 
    font-size: 15px;
    font-weight: 600;
  }
  .action button{
    width: 60px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #d2d2d2; 
    font-size: medium;
    padding-top: 1.1px;
    height: 26px;
    margin-top: 0;
    margin-right: 7px;
    line-height: 26px;
    text-transform: capitalize;
  }
  
  .action button:hover,
  .action button:focus
  {
    background-color: white;
    color: #28a745;
  }
  
  
  .custom-select{
    height: 26px;
    display: flex;
    justify-content: center;
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    font-family: auto;
    padding: 0 0px 1px 0px;
    display: flex;
    justify-content: center;
  }
  
  label{
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .select{
    height: 26px;
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-left: 3px;
    left: 10px;
    top: 2px;
  }

  .accordion input{
    background-color: white;
    color: black;
  }
  @media (min-width: 1200px){
    .container {
      max-width: 100%;
  }
  }
  @media  (min-width: 375px) and (max-width: 425px){
    .select{
      left: 15px;
      width: 91%;
    }
  }
  @media  (min-width: 320px) and (max-width: 375px){
    .select{
      width: 90%;
    }
  }
  @media  (max-width: 320px){
    .select{
      width: 87%;
      left: 15px;
    }
  }
  .example-form-field {
    width: 200px;
  }
  /* accordion  */
.accordion .card-header{
    padding-bottom: 1px;
}
.accordion button{
    box-shadow: 0 16px 38px -12px rgba(0, 0.4, 0.3, 0.56), 0 4px 25px 0px rgba(0, 0.4, 0.3, 0.12), 0 8px 10px -5px rgba(0, 0.4, 0.3, 0.2);
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
  
.accordion .card-body{
    padding: 1px 15px;
    padding-bottom: 10px;
}




button[aria-expanded="false"],
button[aria-expanded="false"]:focus,
button[aria-expanded="false"]:hover {
    background-color:#afdadf;
    font-size: medium;
    font-weight: 500;
    color: black;
}

button[aria-expanded="true"],
button[aria-expanded="true"]:focus,
button[aria-expanded="true"]:hover  {
    background-color: #34b0d3;
    font-size: medium;
    font-weight: 500;
    color: white;
}

::ng-deep .custom-snackbar {
  color: white !important;
  background-color: #0a990a !important;
  margin-top: 72px !important;
  margin-right: 66px !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}
::ng-deep .error-snackbar{
  color: white !important;
  background-color: red !important;
  margin-top: 72px !important;
  margin-right: 66px !important;
  font-weight: 400 !important;
  font-size: 15px !important;

}
::ng-deep .mat-simple-snackbar-action button  {
color: white;
}
