<div style="height: 530px;  max-height: 530px;">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="row mainrow">
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="fromDate">From :</label>
            <input class="form-control" type="date" formControlName="fromDate" [max]="createForm.get('toDate')?.value" id="fromDate">
        </div> 
        </div>
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="toDate">To :</label>
            <input class="form-control" type="date" formControlName="toDate" [max]="getCurrentDate()" id="toDate">
        </div>
        </div>
        <div class="col-sm-6">
          <div class="textOnSelect">
              <label for="Customer">Customer :</label>
               <ng-select
                  class="custom-select1"
                  [items]="customerData"
                  bindLabel="customerName"
                  bindValue="customerCode"
                  formControlName="Customer"
                  [searchable]="true"
                  [clearable]="true">
                </ng-select>
          </div>
        </div>
      </div>
      <div class="row mainrow form-group m-0" style=" border-bottom: 1px solid #d2d2d2;">
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="FromBillingNo">From billing No :</label>
            <input class="form-control" id="FromBillingNo" formControlName="FromBillingNo" placeholder="Enter billing No.">
        </div>
        </div>
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="ToBillingNo">To billing No :</label>
            <input class="form-control" id="ToBillingNo" formControlName="ToBillingNo" placeholder="Enter billing No.">
        </div>
        </div>
        <div class="col-sm-3">
          <div class="textOnSelect">
            <label for="Employee">Print Format</label>
            <select id="Employee" class="custom-select" formControlName="multiplePrintType">
              <option selected disabled>Select Format Size</option>
              <option value="1-2 Format" >1-2 Docket Print</option>
              <option value="1-3 Format" >1-3 Docket Print</option>
              <option value="label" >Sticker Print1</option>
              <option value="label2" >Sticker Print2</option>
              <option value="label3" >Sticker Print3 </option>
            </select>
        </div>
        </div>
        <div class="col-sm-3 d-flex" style="justify-content: right;">
          <button type="submit" class="btn btn-light other-button">Submit</button>
        </div>
     </div>
     
    </form>
    <div class="row mainrow">
      <div class="col-sm-12">
        <div *ngIf="showTable && dataSource.data.length > 0">
          <div class="table-responsive">
            <div class="row d-flex m-0" style="justify-content: right;" >
              <div class="form-group has-search col-sm-3">
                <button class="btn btn-secondary" type="button" style="z-index: 1001;
                position: absolute;
                background: none;
                top: -3px;
                width: 38px;
                height: 30px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: #2e3f55;">
                  <i class="fa fa-search" style="color:  #a3b8d4; margin-top: -4px;"></i>
                </button>
                <input type="text" class="form-control" placeholder="Search.."  id="Filter" #input (keyup)="applyFilter($event.target.value)" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
              </div>
            </div>
          </div>
          <div class="table-responsive text-nowrap">
            <table id="myTable" mat-table  [dataSource]="dataSource"  class="table-bordered table-striped " style="background-color: rgb(223 233 237 / 87%);" matSort >

              <ng-container matColumnDef="BillNo">
                <th mat-header-cell *matHeaderCellDef> Invoice No. </th>
                <td mat-cell *matCellDef="let element"> {{element.BillNo}}</td>
              </ng-container>
              
              <ng-container matColumnDef="BranchName">
                <th mat-header-cell *matHeaderCellDef> Branch </th>
                <td mat-cell *matCellDef="let element"> {{element.BranchName}}</td>
              </ng-container>
              
              <ng-container matColumnDef="Customer_Code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let element"> {{element.Customer_Code}}</td>
              </ng-container>
        
              <ng-container matColumnDef="Customer_Name">
                <th mat-header-cell *matHeaderCellDef>Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Customer_Name}}</td>
              </ng-container>

              <ng-container matColumnDef="TotalAmount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.TotalAmount}}</td>
              </ng-container>
          
              <ng-container matColumnDef="CNote">
                <th mat-header-cell *matHeaderCellDef> Cnotes </th>
                <td mat-cell *matCellDef="let element"> {{element.CNote}}</td>
              </ng-container>
          
              <ng-container matColumnDef="BillDate">
                <th mat-header-cell *matHeaderCellDef> Inv.Date </th>
                <td mat-cell *matCellDef="let element"> {{element.BillDate}}</td>
              </ng-container>
        
              <ng-container matColumnDef="FromDate">
                <th mat-header-cell *matHeaderCellDef> From Date </th>
                <td mat-cell *matCellDef="let element"> {{element.FromDate}}</td>
              </ng-container>
          
              <ng-container matColumnDef="ToDate">
                <th mat-header-cell *matHeaderCellDef> To Date </th>
                <td mat-cell *matCellDef="let element"> {{element.ToDate}}</td>
              </ng-container>
        
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip="PDF" class="custom-color" (click)="printPDF(element)">picture_as_pdf</mat-icon>
                  <mat-icon matTooltip="XLS" class="custom-color" (click)="printXLS(element)">description</mat-icon>
                  <mat-icon matTooltip="Add" class="custom1-color" (click)="openviewadd(element)">add</mat-icon>
                  <mat-icon matTooltip="Delete" class="custom2-color" (click)="openviewdelete(element)">delete</mat-icon> 
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
         </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
        <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
          <img src="./assets/images/NOdata.png" alt="">
        </div>
      </div>
    </div>
  </div>