    <div class="container">
        <div class="row" style="border-bottom: 1px solid #d2d2d2;">
          <div class="col-sm-6">
            <h1 style="font-weight: 600;
            font-size: large;
            margin-bottom: 0;
            margin-top: 7px; ">Charge Recived</h1>
          </div>
            <div class="col-sm-6 d-flex cancel" style="justify-content: right;">
            <button type="button" class="btn btn-light" (click)="CloseDialog()" style="width: 30px;
            text-align: center;
            line-height: 30px;
            height: 30px;
            font-weight: 500;
            font-size: large;
            background: red;
            color: white;">X</button>
        </div>
        </div>
        <form  [formGroup]="depaForms" (ngSubmit)="submit(depaForms.value)">
              <div class="row">
                <div class="col-sm-12">
                 <div class="textOnSelect">
                    <label for="PaymentType">Payment Type :</label>
                    <select class="selectpicker form-select custom-select">
                        <option data-tokens="Manual mustard" selected disabled>type</option>
                        <option>Auto</option>
                    </select>
                </div>
              </div>
    
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="textOnInput">
                        <label for="TransactionID">Transaction ID :</label>
                        <input class="form-control" type="number" id="TransactionID" formControlName="TransactionID"  placeholder="enter Transaction ID">
                    </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="textOnInput">
                        <label for="TransactionDT">Transaction date :</label>
                        <input class="form-control" type="date" id="TransactionDT" formControlName="TransactionDT">
                    </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="textOnInput">
                        <label for="Forwarding3">Forwarding3</label>
                        <input class="form-control" type="number" id="Forwarding3" formControlName="Forwarding3"  placeholder="enter Forwarding3">
                    </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="textOnInput">
                        <label for="ReceivedAmt">Received Amount :</label>
                        <input class="form-control" type="number" id="ReceivedAmt" formControlName="ReceivedAmt" placeholder="Enter received amount ">
                    </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <div class="textOnInput">
                        <label for="balanceAmt">balance Amount :</label>
                        <input class="form-control" type="number" id="balanceAmt" formControlName="balanceAmt" placeholder="Enter balance amount ">
                    </div>
              </div>
              </div>
              <div class="row form-group d-flex m-0" style="justify-content: right;">
                <div class="col-sm-4 d-flex" style="justify-content: right; padding-right: 0;" >
                  <button type="submit" class="btn btn-light other-button">Submit</button>
                </div>
             </div>
        </form>
     </div>