<div class="container">
    <div class="row" style="border-bottom: 1px solid #d2d2d2;">
      <div class="col-sm-6">
        <h1 style="font-weight: 600;
        font-size: large;
        margin-bottom: 0;
        margin-top: 7px; ">Department</h1>
      </div>
        <div class="col-sm-6 d-flex cancel" style="justify-content: right;">
        <button type="button" class="btn btn-light" (click)="CloseDialog()" style="width: 30px;
        text-align: center;
        line-height: 30px;
        height: 30px;
        font-weight: 500;
        font-size: large;
        background: red;
        color: white;">X</button>
    </div>
    </div>
    <form [formGroup]="deptForm"  (ngSubmit)="saveAllData(deptForm.value)">
          <div class="row">
            <div class="col-sm-12">
                <div class="textOnInput">
                    <label for="Departmentname">Consignee</label>
                    <input class="form-control" type="text" id="Departmentname" formControlName="Departmentname"  placeholder="enter Departmentname">
                  </div>
          </div>

          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="textOnInput">
                    <label for="ContactNo">Contact Number</label>
                    <input class="form-control" type="tel" id="ContactNo" formControlName="ContactNo"  placeholder="enter ContactNo">
                  </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="textOnInput">
                    <label for="ContactNo">E-mail </label>
                    <input class="form-control" type="email" id="Email" formControlName="Email"  placeholder="123@gmail.com">
                  </div>
          </div>
          </div>
          <div class="row form-group d-flex m-0" style="justify-content: right;">
            <div class="col-sm-4 d-flex" style="justify-content: right; padding-right: 0;" >
              <button type="submit" class="btn btn-light other-button">Submit</button>
            </div>
           </div>
        </form>
 </div>
 