
 
 
 <!-- <div *ngIf="showTable && dataSource.data.length > 0"> -->
    <div class="table-responsive">
        <div class="row d-flex m-0" style="justify-content: right;" >
          <div class="form-group has-search col-sm-3">
            <button class="btn btn-secondary" type="button" style="z-index: 1001;
            position: absolute;
            background: none;
            top: -3px;
            width: 38px;
            height: 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #2e3f55;">
              <i class="fa fa-search" style="color:  #a3b8d4; margin-top: -24px;"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search.."  id="Filter" #input (keyup)="applyFilter($event.target.value)" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
          </div>
        </div>
      </div>

      <div class="table-responsive text-nowrap">
          <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped" style="background-color: #e2e9f1;">
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> 
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="openPaymentForm(element)">
                  <mat-icon>add</mat-icon>
                </button> </th>

              <td mat-cell *matCellDef="let element">

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item  (click)="openPaymentForm(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item  (click)="deletePayment(element)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button> 
                </mat-menu>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="Ref_No">
              <th mat-header-cell *matHeaderCellDef>Ref No</th>
              <td mat-cell *matCellDef="let element">{{ element.Ref_No }}</td>
            </ng-container>

            <ng-container matColumnDef="Customer_Name">
              <th mat-header-cell *matHeaderCellDef>Customer name</th>
              <td mat-cell *matCellDef="let element">{{ element.Customer_Name }}</td>
            </ng-container>

            <ng-container matColumnDef="Bank_Name">
              <th mat-header-cell *matHeaderCellDef>Bank Name</th>
              <td mat-cell *matCellDef="let element">{{ element.Bank_Name }}</td>
            </ng-container>

            <ng-container matColumnDef="CheqDt">
              <th mat-header-cell *matHeaderCellDef>Cheque Date</th>
              <td mat-cell *matCellDef="let element">{{ element.CheqDt }}</td>
            </ng-container>

            <ng-container matColumnDef="RecvDt">
              <th mat-header-cell *matHeaderCellDef>Receive Date</th>
              <td mat-cell *matCellDef="let element">{{ element.RecvDt }}</td>
            </ng-container>

            <ng-container matColumnDef="Amount_Type">
              <th mat-header-cell *matHeaderCellDef>Amount Type</th>
              <td mat-cell *matCellDef="let element">{{ element.Amount_Type }}</td>
            </ng-container>

            <ng-container matColumnDef="ChequeNo">
              <th mat-header-cell *matHeaderCellDef>Cheque No</th>
              <td mat-cell *matCellDef="let element">{{ element.ChequeNo }}</td>
            </ng-container>

            <ng-container matColumnDef="Recv_Name">
              <th mat-header-cell *matHeaderCellDef>Received By</th>
              <td mat-cell *matCellDef="let element">{{ element.Recv_Name }}</td>
            </ng-container>

            <ng-container matColumnDef="TDS">
              <th mat-header-cell *matHeaderCellDef>TDS</th>
              <td mat-cell *matCellDef="let element">{{ element.TDS }}</td>
            </ng-container>

            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">{{ element.Amount }}</td>
            </ng-container>

            <ng-container matColumnDef="Debit">
              <th mat-header-cell *matHeaderCellDef>Debit</th>
              <td mat-cell *matCellDef="let element">{{ element.Debit }}</td>
            </ng-container>

            <ng-container matColumnDef="Remark">
              <th mat-header-cell *matHeaderCellDef>Remark</th>
              <td mat-cell *matCellDef="let element">{{ element.Remark }}</td>
            </ng-container>

            <ng-container matColumnDef="Deposit_Bank">
              <th mat-header-cell *matHeaderCellDef>Deposit Bank</th>
              <td mat-cell *matCellDef="let element">{{ element.Deposit_Bank }}</td>
            </ng-container>

            <ng-container matColumnDef="UserName">
              <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let element">{{ element.UserName }}</td>
            </ng-container>

            <ng-container matColumnDef="BillPay">
              <th mat-header-cell *matHeaderCellDef>Bill Paid</th>
              <td mat-cell *matCellDef="let element">
                <span [ngClass]="{ 'text-success': element.BillPay === 1, 'text-danger': element.BillPay !== 1 }">
                  {{ element.BillPay === 1 ? 'Yes' : 'No' }}
                </span>
              </td>
            </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <ng-container *ngIf="showTable && dataSource.data.length > 0">
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </ng-container>

    <ng-container *ngIf="!showTable || dataSource.data.length === 0">
      <tr>
        <td [attr.colspan]="displayedColumns.length" class="text-center">
          <img src="./assets/images/NOdata.png"/>
          <div>No Records Found</div>
        </td>
      </tr>
    </ng-container>
          </table> -->
      </div>
 <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [showFirstLastButtons]="showFirstLastButtons"
  [hidePageSize]="hidePageSize"
  [disabled]="disabled"
  (page)="handlePageEvent($event)">
</mat-paginator>
    <!-- </div>
   <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <div class="pt-2">
          <button mat-raised-button color="primary" (click)="openPaymentForm()">Add Entry</button>
        </div>
      <img src="./assets/images/NOdata.png" alt="">
    </div> -->
