<div *ngIf="isLoading" class="loader-overlay"> <div class="loader"></div> </div>
<div>
                <div class="row mainrow" style="border-bottom: 1px solid #d2d2d2;">
                  <div class="col-sm-5">
                    <p (click)="openPendingManfModal()">Pending Scan: {{totalPending}} </p>&nbsp;&nbsp;
                    <p (click)="DoneManfModal()">Done Scan: {{totalDone}}</p>
                  </div>
                </div>  
                  <form [formGroup]="manifestform" (ngSubmit)="submitmanifest(manifestform.value)">
                  <div class="row mainrow mt-3">
                      <div class="col-sm-2">
                        <div class="textOnInput">
                            <label for="date">Date :</label>
                      <input class="form-control" type="date" formControlName="manfDate">
                        </div>
                      </div>
                     <div class="col-sm-3">
                        <div class="textOnInput">
                            <label for="Status">Status :</label>
                      <input type="text" placeholder="status" [(ngModel)]="Status" 
                      value="Arrived"  class="form-control" id="" value="Arrived" readonly />
                        </div>
                      </div>
                       <div class="col-sm-3">
                        <div class="textOnInput">
                            <label for="remark">Remark :</label>
                      <input type="text" placeholder="remarks" formControlName="remark"  class="form-control" id="remark" /> <div *ngFor="let validation of validationMessage.remark">
                        <div class="error-message"
                          *ngIf="manifestform.get('remark').hasError(validation.type) && (manifestform.get('remark').dirty || manifestform.get('remark').touched)">
                          {{ validation.message }}
                        </div>
                    </div>
                        </div>
                      </div>
                        <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-8" *ngIf="this.dispatch === '0'" >
                        <div class="textOnInput">
                           <label for="inputEmail3">Manifest no :</label>
                            <input type="text" placeholder="Enter Manifest no." formControlName="manifest" class="form-control" id="" required [(ngModel)]="ManfNo" />
                      <div *ngFor="let validation of validationMessage.manifest">
                        <div class="error-message"
                          *ngIf="manifestform.get('manifest').hasError(validation.type) && (manifestform.get('manifest').dirty || manifestform.get('manifest').touched)">
                          {{ validation.message }}
                        </div>
                      </div>
                        </div>
                      </div>

                       <div class="col-sm-8" *ngIf="this.dispatch === '1'" >
                        <div class="textOnInput">
                           <label for="inputEmail3">Dispatch :</label>
                            
                      <input type="text" placeholder="Enter Dispatch no." formControlName="manifest" class="form-control" id="" required [(ngModel)]="ManfNo" />
                        </div>
                      </div>

                      <div class="col-sm-4"  style="display: flex; justify-content: right;">
                         <button type="button" class="btn btn-light form-icon" [disabled]="!manifestform.get('manifest').value" (click)="findManfNo(manifestform.value)"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                        </div>
                      </div>
                </div>
                  <div class="row mainrow" style="border-bottom: 1px solid #d2d2d2; justify-content: right;">
                  <div class="col-sm-4 d-flex submitbtn">
                    <button type="submit" class="btn btn-light">Inscan</button> 
                    <button type="button" class="btn btn-light" (click)="openManifestBulkModal()" >Bulk</button>
                  </div>
              </div>
           </form>
</div>

<div *ngIf="showTable && listData.length > 0">
  <div class="table-responsive text-nowrap">
    <table class="table table-bordered table-striped"  style="background-color: #e2e9f1;">
      <thead style="background-color:#a3b8d4; color: black;">
        <tr>
            <th>Manifest No	</th>
            <th>Manifest date	</th>
            <th>Via</th>
            <th>Mode</th>
            <th>Shipment</th>
            <th>Pcs</th>
            <th>Manifest weight</th>
            <th>Vehicle No</th>
            <th>Driver Name</th>
            <th>Route</th>
            <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData;" >
          <td >{{item.Manifest_no}}</td>
          <td >{{item.manifestDt | date:'dd/MM/yyyy'}}</td>
          <td >{{item.via}}</td>
          <td >{{item.mode }}</td>
          <td >{{item.shipment}}</td>
          <td >{{item.qty}}</td>
          <td >{{item.actualWT}}</td>
          <td >{{item.vehicle_no}}</td>
          <td >{{item.Driver_Name}}</td>
          <td >{{item.Route}}</td>
          <td >
            <button mat-icon-button color="warn"  (click)="deleteRow(item)">
              <mat-icon style=" font-size: 22px; color: #f44336;">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
  <img src="./assets/images/NOdata.png" alt="">
  </div>