<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="Manual">
                        <app-manual-tab></app-manual-tab>
                    </mat-tab> 
                    <mat-tab label="Import">
                        <app-import-tab></app-import-tab>
                    </mat-tab> 
                    
               </mat-tab-group>
            </div>
        </div>
    </div>
</div>