<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="processExcelData(selectedFile)">
      <div class="row">
        <div class="col-sm-6">
            <div class="textOnSelect">
                <label for="CustomerName"><span style="color: red;">*</span>Customer name :</label>
                <ng-select 
                  class="custom-select1"
                  [items]="CustomerList"
                  bindLabel="customerName"
                  bindValue="customerCode"
                  formControlName="CustomerName"
                  [searchable]="true"
                  [clearable]="true">
                </ng-select>
                <div *ngIf="createForm.get('CustomerName')?.touched && createForm.get('CustomerName')?.invalid" class="text-danger">
                  Customer name is required.
                </div>        
            </div>
        </div>
          <div class="col-sm-3">
          <div class="textOnInput">
            <label for="fromDate">From :</label>
            <input class="form-control" type="date" formControlName="fromDate" [max]="createForm.get('toDate')?.value" id="fromDate">
        </div> 
        </div>
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="toDate">To :</label>
            <input class="form-control" type="date" formControlName="toDate" [max]="getCurrentDate()" id="toDate">
        </div>
        </div>
    </div>
    <div class="row">
          <div class="col-sm-3">
            <div class="textOnSelect">
                <label for="supplierName">Origin :</label>
                <ng-select 
                    class="custom-select1"
                    [items]="originList"
                    bindLabel="originName"
                    bindValue="originCode"
                    formControlName="Origin"
                    [searchable]="true"
                    [clearable]="true">
                </ng-select>
            </div>
        </div>
          <div class="col-sm-3">
            <div class="textOnSelect">
                <label for="supplierName"> Origin zone :</label>
                <ng-select 
                  class="custom-select1"
                  [items]="zoneList"
                  bindLabel="Zone_Name"
                  bindValue="Zone_Code"
                  formControlName="Zone"
                  [searchable]="true"
                  [clearable]="true">
                </ng-select>    
            </div>
        </div>
                <div class="col-sm-3">
             <div class="textOnSelect">
                <label for="supplierName"> <span style="color: red;">*</span>Mode :</label>
                <ng-select 
                  class="custom-select1"
                  [items]="modeList"
                  bindLabel="Mode_name"
                  bindValue="Mode_code"
                  formControlName="Mode"
                  [searchable]="true"
                  [clearable]="true"
                  (change)="handleModeChange($event)">
                </ng-select>    
            </div>
        </div>
             <div class="col-sm-3">
            <div class="textOnSelect">
                <label for="supplierName"> <span style="color: red;">*</span>Product :</label>
                <ng-select 
                    class="custom-select1"
                    [items]="productList"
                    bindLabel="productName"
                    bindValue="productCode"
                    formControlName="product"
                    [searchable]="true"                  
                    [multiple]="true"
                    [clearable]="true">
                </ng-select>
            </div>
        </div>
          <!-- <div class="col-sm-3">
              <div class="textOnSelect">
                <label for="rateAirline">Train/Airline Name :</label>
               <select id="rateAirline" class="custom-select" formControlName="trainFlight">
                <option *ngFor="let option of trainFlightOptions" [value]="option.code">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div> -->
         
    </div>
    <div class="row">
          <div class="col-sm-3">
              <div class="textOnSelect">
                <label for="rateAirline">Train/Airline Name :</label>
               <select id="rateAirline" class="custom-select" formControlName="trainFlight" (change)="onTrainFlightSelect($event.target.value)">
                <option *ngFor="let option of trainFlightOptions" [value]="option.code">
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="textOnSelect">
                <label for="trainFlightNo">Train/Flight No :</label>
                 <input class="form-control" type="text" formControlName="trainFlightNo" readonly>
            </div>
          </div>
       <div class="col-sm-3">
              <div class="textOnInput">
                <label for="RateIncrease">Increase rate % :</label>
                <input class="form-control" type="number" min="0" id="RateIncrease" formControlName="RateIncrease" placeholder="enter Increase rate%">
            </div>
        </div>
          <div class="col-sm-3">
            <div class="textOnInput">
                <label for="MinWt">Min weight</label>
                <input class="form-control" type="number" min="0" formControlName="MinWt">
            </div>
        </div>
         
    </div>
    <div class="row"  style="border-bottom: 1px solid #d2d2d2;">
        <div class="col-sm-3">
            <div class="textOnInput">
                <label for="MinAmt">Min Amount</label>
                <input class="form-control" type="number" min="0" formControlName="MinAmt">
            </div>
        </div>
           <div class="col-sm-3">
              <div class="textOnSelect">
                  <label for="RateMode"><span style="color: red;">*</span>Rate mode :</label>
                  <select id="RateMode" class="custom-select" formControlName="RateMode" >
                    <option value="Flat">Flat </option>
                    <option value="Addition">Addition </option>
                    <option value="AddOn">AddOn </option>
                    <option value="Multiple">Multiple </option>
                </select>
            </div>
        </div>
         <div class="col-sm-3">
            <div class="textOnSelect">
                <label for="type"><span style="color: red;">*</span>type :</label>
                <select id="type" class="custom-select" formControlName="type" >
                    <option value="Zone">Zone </option>
                    <option value="State">State </option>
                    <option value="Destination">Destination </option>
                  </select>
              </div>
          </div>
          <div class="col-sm-3">
          <div class="textOnInput">
              <label for="Import">Import :</label>
              <input class="form-control" type="file" #fileInput id="Import" style="padding-left: 0px;padding-top: 8px;" accept=".xlsx, .xls" (change)="onFileSelected($event)">
              <div *ngIf="!selectedFile && createForm.touched" class="text-danger">
                File is required.
              </div>
          </div>
      </div>
    </div>
     <div class="row" style="border-bottom: 1px solid #d2d2d2;">
      <div class="col-sm-12 d-flex form-group" style="justify-content: end;">
        <!-- <button type="button" class="btn btn-light other-button" [disabled]="createForm.invalid" 
  (click)="onSearch()">Search</button> -->
        <button type="submit" class="btn btn-light other-button">Submit</button>
        <button type="button" class="btn btn-success download" (click)="generateExcel()" matTooltip="Download excel">
          <i class="fa-solid fa-download"></i>
        </button>
        <button type="button" class="btn btn-danger error" tabindex="-1" matTooltip="Error log"  (click)="generateRateMasterErrorLog()">
          <mat-icon >error</mat-icon>
        </button>
      </div>
    </div>
    </form>
  
<!-- <div class="row mainrow">
<div class="col-sm-12 mt-2 p-0">
<div *ngIf="showTable && dataSource.data.length > 0">
  <div class="table-responsive text-nowrap">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped" style="background-color: #e2e9f1;">

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{ element.ID }} </td>
        </ng-container>

        <ng-container matColumnDef="Customer_Code">
          <th mat-header-cell *matHeaderCellDef> Customer </th>
          <td mat-cell *matCellDef="let element"> {{ element.Customer_Code }} </td>
        </ng-container>

        <ng-container matColumnDef="Supplier_Code">
          <th mat-header-cell *matHeaderCellDef> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{ element.Supplier_Code }} </td>
        </ng-container>

        <ng-container matColumnDef="DestinationCode">
          <th mat-header-cell *matHeaderCellDef> Destination Code </th>
          <td mat-cell *matCellDef="let element"> {{ element.DestinationCode }} </td>
        </ng-container>

        <ng-container matColumnDef="DestinationName">
          <th mat-header-cell *matHeaderCellDef> Destination Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.DestinationName }} </td>
        </ng-container>

        <ng-container matColumnDef="Lat_Long">
          <th mat-header-cell *matHeaderCellDef> Lat/Long </th>
          <td mat-cell *matCellDef="let element"> {{ element.Lat_Long }} </td>
        </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize"
    [disabled]="disabled"
    (page)="handlePageEvent($event)">
  </mat-paginator>
  </div>
  <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <img src="./assets/images/NOdata.png" alt="">
  </div>
</div>
</div> -->
</div>