
  * {
    font-size: 12px;
    padding-top: 1.1px;
    color: black;
}
form .col-sm-1{
    padding-right: 8px;
}
form{
    margin-top: 10px;
    margin-bottom: 0.125rem;
}
.leftSide .form-control,
.leftSide .form-select {
    height: 30px;
}
.rightSide .form-select {
  height: 34px;
}
input{
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-left: 10px; 
    padding-top: 10px; 
    font-family: auto;
}

.other-button{
  width: 80px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #d2d2d2; 
  font-size: 15px;
  padding-top: 1.1px;
  height: 30px;
  margin: 0 4px;
  background-color: #2e3f55;
  line-height: 30px;
  color: white;
  text-transform: capitalize;
}
.form-icon{
    width: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #d2d2d2; 
    padding-top: 1.1px;
    height: 30px;
    margin-top: 0;
    line-height: 30px;
    background-color: #2e3f55;
    i{
      font-size: 18px;
      color: white;
    }
  }

  .textOnInput,
  .textOnSelect {
    position: relative;
    margin-bottom: 15px; 
  }
  
  .textOnInput label,
  .textOnSelect label {
    position: absolute;
    top: -13px;
    left: 7px;
    padding: 2px;
    text-wrap: nowrap;
    z-index: 1;
    height: 20px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
  }
  
  .textOnInput label:after,
  .textOnSelect label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
.textOnInput input[type=file]{
    padding-left: 10px;
    padding-top: 5px;
}


.custom-select{
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-top: 5px; 
    font-family: auto;
}

.error-message{
    color: red;
  }
  @media (min-width: 1200px){
    .container {
      max-width: 100%;
  }
 }