<div class="container">
    <div class="row">
        <h4 mat-dialog-title>Credit BlueDart</h4>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">CAF Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter CAF Charges">
            </div>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">ECS Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter ECS Charges">
            </div>

        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">IDC Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter IDC Charges">
            </div>

        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">Damage Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter Damage Charges">
            </div>

        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">Cleance Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter Cleance Charges">
            </div>

        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">RAS Charges</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter RAS Charges">
            </div>

        </div>
        <div class="row" align="end">
            <div class="col-md-3">
                <!-- <button class='btn btn-success' (click)="openLoginModal()">LOGIN</button> -->
            </div>
            <div class="col-md-6 submitbtn">
                <button type="button" class="btn btn-save">Save</button>
                <button type="button" class="btn btn-danger" matDialogClose  (click)="CloseDialog()">Cancel</button>
            </div>
            <div class="col-md-3"></div>


        </div>
    </div>
</div>