<div class="container">
  <div class="row">
    <form [formGroup]="form" (submit)="submit(form.value)">
      <div class="container">
        <div class="row">
          <h4 mat-dialog-title>
            Credit Invoice Value
            <button
              type="button"
              class="close btn-lg mt-1"
              aria-label="Close"
              (click)="CloseDialog()"
            >
              <span
                aria-hidden="true"
                class="mt-2"
                style="color: white; height: 20px !important"
                >X</span
              >
            </button>
          </h4>

          <!-- <legend>Invoice Value:</legend> -->
          <ng-container
            formArrayName="contacts"
            *ngFor="let contact of contacts.controls; index as i"
          >
            <ng-container [formGroupName]="i">
              <div class="row">
                <!-- <label for="inputEmail3" class="col-sm-3 col-form-label">Invoice Value</label> -->
                <!-- <div class="col-sm-9">
                            <div class="row"> -->
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Invoice No.</label
                >
                <div class="col-sm-2">
                  <input
                    style="
                      border: 1px solid #d2d2d2;
                      border-radius: 0.25rem;
                      padding-left: 10px;
                      padding-top: 10px;
                      font-family: auto;
                      margin-bottom: 0.5rem;
                      width: 3rem;
                    "
                    type="text"
                    class="form-control"
                    id="inputEmail3"
                    formControlName="invoiceno"
                  />
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Invoice Val</label
                >
                <div class="col-sm-2">
                  <input
                    style="
                      border: 1px solid #d2d2d2;
                      border-radius: 0.25rem;
                      padding-left: 10px;
                      padding-top: 10px;
                      font-family: auto;
                      margin-bottom: 0.5rem;
                      width: 3rem;
                    "
                    type="text"
                    class="form-control"
                    id="inputEmail3"
                    formControlName="invoiceval"
                  />
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Remark</label
                >
                <div class="col-sm-2">
                  <input
                    style="
                      border: 1px solid #d2d2d2;
                      border-radius: 0.25rem;
                      padding-left: 10px;
                      padding-top: 10px;
                      font-family: auto;
                      margin-bottom: 0.5rem;
                      width: 3rem;
                    "
                    type="text"
                    class="form-control"
                    id="inputEmail3"
                    formControlName="remark"
                  />
                </div>
                <!-- </div>
                            
                        </div> -->
              </div>

              <!-- <button class="btn-remove" type="button" (click)="removeContactField(i)">x</button> -->
            </ng-container>
          </ng-container>

          <div class="row justify-content-center">
            <div class="d-flex justify-content-center submitbtn">
              <button
                class="btn btn-save"
                type="button"
                (click)="addContactField()">
                Add
              </button>
              <button class="btn btn-danger" type="button" (click)="reset()">
                Reset
              </button>
              <button type="button" class="btn btn-save">Save</button>
              <button
                type="button"
                class="btn btn-danger"
                matDialogClose
                (click)="CloseDialog()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
