* {
    font-size: 12px;
    padding-top: 1.1px;
    color: black;
}
form .col-sm-1{
    padding-right: 8px;
}
form{
    margin-top: 10px;
    margin-bottom: 0.125rem;
}
.form-control,
.form-select {
    height: 26px;
}
input{
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-left: 10px; 
    padding-top: 10px; 
    font-family: auto;
}


form button{
  width: 70px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #d2d2d2; 
  font-size: medium;
  padding-top: 1.1px;
  height: 26px;
  margin-top: 10px;
  margin-right: 7px;
  line-height: 26px;
  text-transform: capitalize;
}


  .Unload{
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #d2d2d2; 
    font-size: medium;
}


.custom-select{
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-top: 5px; 
    font-family: auto;
}
label{
    padding-bottom: 4px;
    margin-top: 10px;
    margin-bottom: 0;
  }
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
 
  ::ng-deep .mat-dialog-container {
    padding: 6px 2px !important; 
  }
  @media  (min-width: 320px) and (max-width: 425px){
    ::ng-deep .mat-dialog-container{
        max-height: 431px !important;
    }
    .cancel{
      margin-top: -33px;
  }
  }
  ::ng-deep .custom-snackbar {
    color: white !important;
    background-color: #0a990a !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  ::ng-deep .error-snackbar{
    color: white !important;
    background-color: red !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  
  }
  ::ng-deep .mat-simple-snackbar-action button  {
  color: white;
  }
  
