.sidebar {
  width: 206px;/* default desktop */
}

@media (max-width: 991px) {
  .sidebar {
    width: 80%;   /* take 80% screen on tablet */
    max-width: 260px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    position: absolute;
    z-index: 1200;
    height: 100vh;
  }
}
::ng-deep .main-panel {
  width: calc(100% - 206px);
}

@media (max-width: 991px) {
  ::ng-deep .main-panel {
    width: 100% !important;
  }
}
