<div *ngIf="showTable && dataSource.data.length > 0">
    <div class="table-responsive">
      <div class="row d-flex m-0" style="justify-content: right;" >
        <div class="form-group has-search col-sm-3">
          <button class="btn btn-secondary" type="button" style="z-index: 1001;
            position: absolute;
            background: none;
            top: -3px;
            width: 38px;
            height: 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #2e3f55;">
            <i class="fa fa-search" style="color: #a3b8d4; margin-top: -24px; margin-left: 1px;"></i>
          </button>
          <input type="text" class="form-control" #input (keyup)="applyFilter($event.target.value)" placeholder="Search.." id="Filter" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
        </div>
       </div>
    </div>
      <div class="table-responsive text-nowrap">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped " style="background-color: #e2e9f1;" matSort>
    
        <ng-container matColumnDef="awbno">
          <th mat-header-cell *matHeaderCellDef> AWB No. </th>
          <td mat-cell *matCellDef="let element"> {{element.awbno}} </td>
        </ng-container>
    
        <ng-container matColumnDef="bookDate">
          <th mat-header-cell *matHeaderCellDef>Booking Date </th>
          <td mat-cell *matCellDef="let element"> {{element.bookDate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Consigner</th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Consignee_Name">
          <th mat-header-cell *matHeaderCellDef> Consignee </th>
          <td mat-cell *matCellDef="let element"> {{element.Consignee_Name}} </td>
        </ng-container>

        <ng-container matColumnDef="originName">
          <th mat-header-cell *matHeaderCellDef> Origin </th>
          <td mat-cell *matCellDef="let element"> {{element.originName}} </td>
        </ng-container>

        <ng-container matColumnDef="destinationName">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let element"> {{element.destinationName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Qty">
          <th mat-header-cell *matHeaderCellDef> PCs </th>
          <td mat-cell *matCellDef="let element"> {{element.Qty}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ClientType">
          <th mat-header-cell *matHeaderCellDef> Client type </th>
          <td mat-cell *matCellDef="let element"> {{element.ClientType}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Product_Name">
          <th mat-header-cell *matHeaderCellDef> Product name </th>
          <td mat-cell *matCellDef="let element"> {{element.Product_Name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ActualWt">
          <th mat-header-cell *matHeaderCellDef> Actual Wt </th>
          <td mat-cell *matCellDef="let element"> {{element.ActualWt}} </td>
        </ng-container>
        
        <ng-container matColumnDef="ChargedWt">
          <th mat-header-cell *matHeaderCellDef> Charged Wt </th>
          <td mat-cell *matCellDef="let element"> {{element.ChargedWt}} </td>
        </ng-container>
    
        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef> Rate </th>
          <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="fuelCharges">
          <th mat-header-cell *matHeaderCellDef> Fuel charges </th>
          <td mat-cell *matCellDef="let element"> {{element.fuelCharges}} </td>
        </ng-container>
    
        <ng-container matColumnDef="TotalAmt">
          <th mat-header-cell *matHeaderCellDef> Total Amt </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalAmt}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
        <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [showFirstLastButtons]="showFirstLastButtons"
  [hidePageSize]="hidePageSize"
  [disabled]="disabled"
  (page)="handlePageEvent($event)">
</mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    [length]="totalPending"
    (page)="loadPage($event)"
    aria-label="Select page of pending unbill records">
  </mat-paginator> -->
      <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="totalPending"
      (page)="loadPage($event)"
      aria-label="Select page of pending DRS records">
    </mat-paginator> -->
   </div>
  <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <img src="./assets/images/NOdata.png" alt="">
  </div>