<div class="container">
  <div class="row" style="border-bottom: 1px solid #d2d2d2;">
    <div class="col-sm-6">
      <h1 style="font-weight: 600; font-size: large; margin-bottom: 0; margin-top: 7px; ">Volumetric Calculate</h1>
    </div>
      <div class="col-sm-6 d-flex" style="justify-content: right;">
         <select [(ngModel)]="MeasureType" (change)="getApiData()" class="custom-select mr-3">
          <option value="CM">CM</option>
          <option value="IN">Inches</option>
        </select>
      <button type="button" class="btn btn-light" (click)="CloseDialog()" style="width: 30px; text-align: center; line-height: 30px; height: 30px; font-weight: 500; font-size: large; background: red; color: white;">X</button>
  </div>
</div>
<form [formGroup]="vendorForm" (ngSubmit)="formSubmit(vendorForm.value,vendorForm)">
<div class="table-responsive text-nowrap">
  <table class="table table-bordered table-striped"  style="background-color: rgb(223 233 237 / 87%);">
    <thead style="background-color: #b2bcff;; color: white;">
      <tr>
          <th><span style="color: red;">*</span>Length</th>
          <th><span style="color: red;">*</span>Width</th>
          <th><span style="color: red;">*</span>Height</th>
          <th><span style="color: red;">*</span>CFT</th>
          <th><span style="color: red;">*</span>DIV</th>
          <th><span style="color: red;">*</span>QTY</th>
          <th>Vol Wt</th>
          <th>Actual Wt</th>
          <th>Charged Wt</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <input class="form-control" type="number"  id="length"  min="1" formControlName="length">
        </td>
        <td>
          <input class="form-control" type="number"  min="1" formControlName="width">
        </td>
        <td>
          <input class="form-control" type="number"  min="1" formControlName="height">
        </td>
        <td>
          <input class="form-control" type="number"  min="1"  formControlName="cft"  [(ngModel)]="cftDefault" >
        </td>
        <td>
          <input class="form-control" type="number"  min="1" formControlName="div"  [(ngModel)]="divideByDefault" >
        </td>
        <td>
          <input class="form-control" type="number"  min="1" formControlName="ncp" (input)="calculateVolWt()" >
        </td>
        <td>
          <input class="form-control" type="number"  min="0" formControlName="volumetricWt" [(ngModel)]="volumetricWt" [value]="VolumetricCharge" readonly >
        </td>
        <td>
          <input class="form-control" type="number"  min="0" formControlName="actualWeight" [(ngModel)]="actualWeight" (input)="compareValue()">
        </td>
        <td>
          <input class="form-control" type="number"  min="0" formControlName="chargeWeight" [value]="chargedWt">
        </td>
        <td> 
          <button type="submit" class="btn btn-light form-icon"><i class="fa-solid fa-plus"></i></button>
        </td>
      </tr>
      <tr *ngFor="let item of volListData; let i = index">
        <td>{{item.Length}}</td>
        <td>{{item.Width}}</td>
        <td>{{item.Height}}</td>
        <td>{{cftDefault}}</td>
        <td>{{item.DivideBy}}</td>
        <td>{{item.Qty}}</td>
        <td>{{item.VolmetricWt}}</td>
        <td>{{item.ActualWt}}</td>
        <td>{{item.ChargeWt}}</td>
        <td>
          <button type="button" class="btn btn-light delete" (click)="deleteItem(i)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <!-- <tbody>
      <tr *ngFor="let item of Volumetrice; let i = index">
        <td>{{item.Length}}</td>
        <td>{{item.Width}}</td>
        <td>{{item.Height}}</td>
        <td>{{item.CFT}}</td>
        <td>{{item.DivideBy}}</td>
        <td>{{item.Qty}}</td>
        <td>{{item.VolmetricWt}}</td>
        <td>{{item.ActualWt}}</td>
        <td>{{item.ChargeWt}}</td>


        <td>
          <button type="button" class="btn btn-light delete" (click)="deleteItem(i)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody> -->
  </table>
</div>
</form>
<div class="row form-group d-flex m-0" style="justify-content: right;">
<div class="col-sm-9 d-flex" style="justify-content: right; padding-right: 0;" >
  <div class="textOnInput">
    <label for="volumetricc">Total Volumetric Wt :</label>
    <input class="form-control" [value]="totalVolumetric" readonly style="background-color: white;">
  </div>
   <div class="textOnInput">
    <label for="actual">Total actual Wt :</label>
    <input class="form-control" [value]="totalActWeight" readonly style="background-color: white;">
  </div>
 <div class="textOnInput">
    <label for="Charge">Total Charge Wt :</label>
    <input class="form-control" [value]="totalChargeWeight" style="background-color: white;">
  </div>
</div>
<div class="col-sm-3" style="display: flex; justify-content: right;">
  <button tabindex="-1" type="button" class="btn btn-light form-button" style="width: 66px;
  height: auto;
  background: #2e3f55;
  color: white;
  padding-top: 10px;"  (click)="saveData()">Submit</button>
</div>
</div>
</div>
