<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="Pending-Drs">
                        <app-add-cust-booking></app-add-cust-booking>                  
                    </mat-tab> 
                    <mat-tab label=" Drs-Entry">
                        <app-edit-cust-booking></app-edit-cust-booking>
                    </mat-tab> 
                    <mat-tab label="Delete-booking">
                        <app-delete-booking></app-delete-booking>
                    </mat-tab> 
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>