<div class="container">
  <div class="row" style="border-bottom: 1px solid #d2d2d2; padding-bottom: 7px;">
    <div class="col-sm-5">
      <h1 style="font-weight: 600; font-size: large; margin-bottom: 0; margin-top: 7px;">Permission </h1>
    </div>
      <div class="col-sm-7 d-flex header_btn" style="justify-content: right;">
      <button type="button" class="btn btn-light" (click)="CloseDialog()" tabindex="-1"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="row pb-2 mt-2">
    <ng-container *ngFor="let section of responseData; let i = index">
      <div class="col-sm-3" *ngIf="section.captionType === 'Menu'">
        <section class="example-section toggle-hover">
          <mat-radio-button [value]="section" (change)="onSectionChange($event)">
            {{ section.captionName }}
          </mat-radio-button>
        </section>
      </div>
    </ng-container>
  </div>
  
  <div class="card" *ngIf="selectedSection">
    <div class="card-header">
      <h3>{{ selectedSection.captionName }}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <ng-container *ngFor="let option of responseData; let j = index">
          <div class="col-sm-4" *ngIf="option.captionType === 'Sub_Menu' && option.groupName === selectedSection.captionName">
            <span class="example-list-section">
              <mat-checkbox (change)="toggleOption(selectedSection, option, j)" [checked]="option.isChecked">
                {{ option.captionName }}
              </mat-checkbox>
              <div *ngIf="option.isChecked" class="card">
                <div class="card-header">
                  <h3>{{option.captionName}}</h3>
                </div>
                <ul class="mt-2" style="list-style-type: square;">
                  <ng-container *ngFor="let subOption of responseData; let k = index">
                    <li *ngIf="subOption.captionType === 'Child_Menu' && subOption.groupName === option.captionName">
                      <mat-checkbox (change)="toggleSubOption(selectedSection, option, subOption, k)" [checked]="subOption.isChecked">
                        {{ subOption.captionName }}
                      </mat-checkbox>
                      <ul class="mt-1 Sub_Child" *ngIf="subOption.isChecked">
                        <ng-container *ngFor="let subChildOption of responseData">
                          <li *ngIf="subChildOption.captionType === 'Sub_Child' && subChildOption.groupName === subOption.captionName">
                            <mat-checkbox [checked]="subChildOption.isChecked">
                              {{ subChildOption.captionName }}
                            </mat-checkbox>
                          </li>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row m-0 d-flex" style="justify-content: right;" >
    <div class="col-sm-3 d-flex submit-btn" style="justify-content: right;">
      <button type="submit" class="btn btn-light" (click)="submitOptions()"> Submit </button>
    </div>
  </div>
</div>