<div class="col-lg-12 col-md-12" style="display: flex; justify-content: center;">
    <div class="card">
      <div class="card-body table-responsive">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <label for="date" class="col-sm-1 form-label">Date</label>
            <div class="col-sm-2">
              <input type="date" class="form-control date" id="date" formControlName="fromDate" [max]="getCurrentDate()">
            </div>
  
            <label for="Vendor_Name" class="col-sm-1 form-label" style="padding-right: 1px;">VendorName</label>
            <div class="col-sm-2">
              <input type="text" class="custom-select vendor" id="Vendor_Name" formControlName="Vendor_Name">
            </div>
  
            <label for="Vendor_AwbNo" class="col-sm-1 form-label " style="padding-right: 1px;">VendorAwb</label>
            <div class="col-sm-2">
              <input type="text" class="custom-select vendor1" id="Vendor_AwbNo" formControlName="Vendor_AwbNo">
            </div>

            <label for="Vendor_Weight" class="col-sm-1 form-label" style="padding-right: 1px;">VendorWgt</label>
            <div class="col-sm-2">
              <input type="text" class="custom-select" id="Vendor_Weight" formControlName="Vendor_Weight">
            </div>
  
            <label for="AWB_No" class="col-sm-1 form-label">AWB_No.</label>
            <div class="col-sm-1">
              <input type="text" class="form-control awb" id="AWB_No" formControlName="AWB_No">
            </div>
            <div class="col-sm-1">
              <button type="submit" class="btn btn-info">ADD</button>
            </div>
            <div class="col-sm-1" style=" margin-left: 2rem ">
              <button type="submit" class="btn btn-info">Bulk</button>
            </div>
          </div>
        </form>
        <div class="table-responsive text-nowrap">
        <table class="table-bordered table-striped table ">
          <thead>
            <tr>
              <th>Awb_No.</th>
              <th>Customer_Name</th>
              <th>Book_Date</th>
              <th>Origin</th>
              <th>Dest</th>
              <th>VendorName</th>
              <th>Vendor_Weight</th>
              <th>Vendor_AwbNo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData">
                <td>{{ row.AWB_No }}</td>
                <td>{{ row.Vendor_Name }}</td>
                <td>{{ row.fromDate }}</td>
                <td>Origin</td>
                <td>Dest</td>
                <td>{{ row.Vendor_Name }}</td>
                <td>{{ row.Vendor_Weight }}</td>
                <td>{{ row.Vendor_AwbNo }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  