<div style="height: 530px; max-height: 530px;">
    <form [formGroup]="billingform" (ngSubmit)="onSubmit(billingform.value)">
      <div class="row mainrow" style="border-bottom: 4px double #a5a3a3; margin-bottom: 23px;">
        <div class="col-sm-3">
          <div class="textOnSelect">
            <label for="ClientType"><span style="color: red;">*</span>Client Type :</label>
            <select id="ClientType" class="custom-select" formControlName="ClientType">
              <option value="Cash">Cash</option>
              <option value="Credit">Credit</option>
              <option value="ToPay">Topay</option>
              <option value="FOC">FOC</option>
              <option value="NEFT">NEFT</option>
              <option value="Cheque">Cheque</option>
            </select>
            <div *ngIf="billingform.get('ClientType')?.touched && billingform.get('ClientType')?.invalid" class="error">
              Client type is required.
            </div>
          </div>
        </div>
       <div class="col-sm-3">
          <div class="textOnInput">
            <label for="invType"><span style="color: red;">*</span>Type :</label>
            <select id="invType" class="custom-select" formControlName="Type">
              <option value="clientWise">Client wise</option>
              <option value="shipperWise">Shipper wise</option>
              <option value="consigneeWise">Consignee wise</option>
              <option value="cNoteWise">CNote wise</option>
            </select>
         </div>
        </div>
      <div class="col-sm-3">
        <div class="textOnSelect">
            <label for="Location"><span style="color: red;">*</span>Location :</label>
            <select id="Location" class="custom-select" formControlName="Location">
              <option selected disabled>Select Location</option>
              <option *ngFor="let item of LocationList" value="{{item.Location_Code}}">
                {{item.Location_Name}}
              </option>
            </select>
            <div *ngIf="billingform.get('Location')?.touched && billingform.get('Location')?.invalid" class="error">
              Location is required.
            </div>
          </div>
        </div>
         <div class="col-sm-3">
            <div class="textOnSelect">
              <label for="BillingType"><span style="color: red;">*</span>Billing Type :</label>
              <select id="BillingType" class="custom-select" formControlName="BillingType">
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Fortnightly">Fortnightly</option>
                <option value="Monthly">Monthly</option>
              </select>
              <div *ngIf="billingform.get('BillingType')?.touched && billingform.get('BillingType')?.invalid" class="error">
                Billing type is required.
              </div>
            </div>
          </div>
      </div>
    <div class="row mainrow">
    <div class="col-sm-3">
            <div class="textOnInput">
              <label for="consignorType"><span style="color: red;">*</span>Consignor type :</label>
              <select
                id="consignorType"
                class="custom-select"
                formControlName="selectedConsignorType"
                (change)="onConsignorTypeChange($event.target.value)"
              >
              <option value="Single">Single</option>
              <option value="All">All</option>
              </select>
            </div>
                  </div>
            <div class="col-sm-6">
            <div class="textOnSelect">
              
                <label for="Consignor"><span style="color: red;">*</span>Consignor :</label>
                <ng-select 
                  id="Consignor"
                  class="custom-select1"
                  [items]="customerList"
                  bindLabel="customerName"
                  bindValue="customerCode"
                  formControlName="Consignor"
                  [searchable]="true"
                  [clearable]="true"
                  (change)="onConsignorChange($event)">
                </ng-select>
                <div *ngIf="billingform.get('Consignor')?.touched && billingform.get('Consignor')?.invalid" class="error">
                  Consignor is required.
                </div>
            </div>
          </div>
           <div class="col-sm-3">
          <div class="textOnSelect">
            <label for="destination" style="top: -10px;">Destination :</label>
            <ng-select
              [items]="destinationList"
              class="custom-select2"
              bindLabel="destinationName"
              bindValue="destinationCode"
              [multiple]="true"
              [formControl]="billingform.get('destination')">
            </ng-select>
         </div>
        </div>
      </div>
      <div class="row mainrow">

        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="fromDate"><span style="color: red;">*</span>From :</label>
            <input class="form-control" type="date" formControlName="fromDate" id="fromDate">
            <div *ngIf="billingform.get('fromDate')?.touched && billingform.get('fromDate')?.invalid" class="error">
              Date is required.
            </div>
        </div> 
        </div>
        <div class="col-sm-3">
          <div class="textOnInput">
            <label for="toDate"><span style="color: red;">*</span>To :</label>
            <input class="form-control" type="date" formControlName="toDate" id="toDate">
            <div *ngIf="billingform.get('toDate')?.touched && billingform.get('toDate')?.invalid" class="error">
              Date is required.
            </div>
        </div>
          </div>
        <div class="col-sm-3">
            <div class="textOnInput">
                <label for="billDate">Invoice Date :</label>
                <input class="form-control" type="date" formControlName="billDate" id="billDate">
                <div *ngIf="billingform.get('billDate')?.touched && billingform.get('billDate')?.invalid" class="error">
                  Invoice Date is required.
                </div>
            </div>
          </div>
             <div class="col-sm-3">
          <div class="textOnSelect">
              <label for="Mode">Mode :</label>
              <select id="Mode" class="custom-select" formControlName="Mode">
                <option selected disabled>Select Mode</option>
                <option *ngFor="let item of modeList" [value]="item.Mode_code">
                  {{item.Mode_name}}
                </option>
              </select>
          </div>
        </div>
      </div>
      <div class="row mainrow form-group m-0" style=" border-bottom: 1px solid #d2d2d2;">
 
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6" *ngIf="selectedType === 'shipperWise'" >
              <div class="textOnSelect">
                <label for="Shipper">Shipper :</label>
                <select id="Shipper" class="custom-select" formControlName="Shipper" [disabled]="selectedConsignorType === 'all'">
                  <option selected disabled>Select Shipper</option>
                  <option *ngFor="let item of shipperList" value="{{item.locationCode}}">
                    {{item.locationName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="selectedType === 'consigneeWise'" >
              <div class="textOnSelect">
                <label for="Consignee">Consignee :</label>
                <select id="Consignee" class="custom-select" formControlName="Consignee" [disabled]="selectedConsignorType === 'all'">
                  <option selected disabled>Select Consignee</option>
                  <option *ngFor="let item of consigneeList" value="{{item.locationCode}}">
                    {{item.locationName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6" >
              <div class="row" >
                <div class="col-sm-9"  *ngIf="isInvoiceVisible">
                  <div class="textOnInput">
                    <label for="billno">Invoice no. :</label>
                    <input
                      class="form-control"
                      type="text"
                      formControlName="billno"
                      id="billno"
                      placeholder="Enter Invoice no."
                    />
                  </div>
                </div>
                <div class="col-sm-3" style="justify-content: end; display: flex;" *ngIf="invoiceNoEnable">
                  <button type="button" class="btn btn-light form-icon"  (click)="isInvoiceVisible = !isInvoiceVisible">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-flex" style="justify-content: end;">
          <button matTooltip="Invoice Description" (click)="openDescription()" type="button" class="btn btn-light form-icon"><i class="fa-solid fa-file-invoice"></i></button>
          <button type="submit" class="btn btn-light other-button" style="margin-left: 29px;">Submit</button>
        </div>
     </div>
      </form>
  </div>
