.example-small-box,
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 32px;
    width: 100px;
    font-weight: 500;
    font-size: larger;
}

::ng-deep .pointer-cursor {
    cursor: pointer !important;
  }

.card-stats {
    padding: 1px 1px !important;
    margin-top: 20px !important;
    height: 115px !important;
}

h1 {
    text-align: center;
}

.mat-tab-group {
    justify-content: center;
    align-items: center;

}

::ng-deep .mat-tab-label {
    padding: 0 0px !important;
    min-width: 60px !important;
    padding: 0px 13px !important;
    font-size: 13px !important;
    height: 26px !important;
}
.FrenchiseeS ::ng-deep .mat-tab-label{
    min-width: 54px !important;
    padding: 0px 2px !important;
}
.operation ::ng-deep .mat-tab-label{
    min-width: 55px !important;
    padding: 0px 2px !important;
}

.mat-elevation-z4 {
    color: white;
}

.card-stats {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 131px;
    padding-top: -4px;
}

.card-stats .card-icon {
    padding: 3px;
}

.card-stats .card-header-icon {
    margin-top: 7px;
}

.card-stats .card-icon i,
.card-stats .card-icon img
 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}
.card-stats .card-icon img {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
  }
.card-stats .card-icon img {
    color: white;
  }

.card-stats .card-body {
    padding: 5px 1px;
}


.Frenchisee .example-small-box {
    width: 100px;
}

.Booking .example-large-box {
    width: 600px;
}

.card-stats h4 {
    color: black;
    top: 37px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3px !important;
    font-weight: 500;
    font-size: large;
   
}
.card-stats ::ng-deep .mat-tab-label.mat-tab-label-active {
    background: linear-gradient(60deg, #ffa726, #fb8c00) !important;
    color: white !important;
    border-radius: 7px !important;
}
.example-small-box{
    background: rgba(214, 226, 230, 0.874);
    color:black;
}
.shipment{ 
    background-color: rgb(136, 231, 109);
    width: 325px; 
    height: 180px;
}
.Sales{
    background-color: #28bbf5;
    height: 180px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .table th{
        padding: 3px;
    }
    .table tbody tr td{
        padding: 12px 4px;
    }
    .table-responsive{
    padding: 0.9375rem 17px;
    }
} 

@media (min-width: 1420px) and (max-width: 1440px) {
    .shipment{
        background-color: rgb(136, 231, 109);
        width: 348px;
        height: 180px;
        }
}

@media (min-width: 1020px) and (max-width: 1024px) {
.shipment{
    background-color: rgb(136, 231, 109);
    width: 212px;
    height: 180px;
    }

    .Sales{
        background-color: #28bbf5;
        height: 178px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .card-stats h4{
        font-size: medium;
    }
}
@media (min-width: 564px) and (max-width: 768px) {
    .shipment{
        background-color: rgb(136, 231, 109);
        width: 197px;
        height: 180px;
        }
    }
    @media (min-width: 420px) and (max-width: 425px) {
        .shipment{
          background-color: rgb(136, 231, 109);
          width: 364px;
          height: 180px;
        }
}
@media (min-width: 370px) and (max-width: 375px) {
    .shipment{
      background-color: rgb(136, 231, 109);
      width: 313px;
      height: 180px;
    }
}

@media (min-width: 310px) and (max-width: 320px) {
    .shipment{
      background-color: rgb(136, 231, 109);
      width: 258px;
      height: 180px;
    }
}
@media (min-width: 425px) and (max-width: 768px){
    .chart,
    .pie,
    .line{
        height: 131px;
    }
    }
    .chart,
    .pie,
    .line{
        height: 180px;
    }

    
::ng-deep .custom-snackbar {
    color: white !important;
    background-color: #0a990a !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  }
  ::ng-deep .error-snackbar{
    color: white !important;
    background-color: red !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  
  }
  ::ng-deep .mat-simple-snackbar-action button  {
  color: white;
  }
  .loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#f03355 95%,#0000) 50% 1px/10px 10px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 10px),#ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {to{transform: rotate(1turn)}}
  .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}