<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                        <mat-tab label="Pickup entry">
                            <app-pick-up-entry></app-pick-up-entry>
                        </mat-tab>   
                        <mat-tab label="Pickup pending">
                            <app-pending-pick-up></app-pending-pick-up>
                        </mat-tab>
                        <mat-tab label=" Pickup generate "> 
                        <app-generate-pick-up></app-generate-pick-up>
                        </mat-tab> 
                        <mat-tab label="Pickup view ">
                            <app-view-pick-up></app-view-pick-up>
                        </mat-tab> 
                        <mat-tab label="Pickup done ">
                            <app-pick-up-done></app-pick-up-done>
                        </mat-tab> 
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>