 <!-- <div *ngIf="showTable && dataSource.data.length > 0"> -->
    <div class="table-responsive">
        <div class="row d-flex m-0" style="justify-content: right;" >
          <div class="form-group has-search col-sm-3">
            <button class="btn btn-secondary" type="button" style="z-index: 1001;
            position: absolute;
            background: none;
            top: -3px;
            width: 38px;
            height: 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #2e3f55;">
              <i class="fa fa-search" style="color:  #a3b8d4; margin-top: -24px;"></i>
            </button>
            <input type="text" class="form-control" placeholder="Search.."  id="Filter" #input (keyup)="applyFilter($event.target.value)" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped" style="background-color: #e2e9f1;">

          <ng-container matColumnDef="ReasonCode">
            <th mat-header-cell *matHeaderCellDef> Reason Code </th>
            <td mat-cell *matCellDef="let element">{{element.ReasonCode}} </td>
          </ng-container>

          <ng-container matColumnDef="ReasonName">
            <th mat-header-cell *matHeaderCellDef>Reason Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ReasonName}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="openReasonForm()">
                <mat-icon>add</mat-icon>
              </button> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item  (click)="openReasonForm(element)">
                  <mat-icon style="color: green;">edit</mat-icon>
                  <span style="color: green;">edit</span>
                </button>
                <button mat-menu-item  (click)="deleteReason(element)">
                  <mat-icon style="color: red;">delete</mat-icon>
                  <span style="color: red;">delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>