<div class="container-fluid">
  <!-- <h4 class="page-title" style="border-bottom: 1px solid black; margin-top: 10px; margin-bottom: 15px; color: rgb(104, 102, 102);">DRS Update</h4> -->

  <div class="pending-count mt-4">
    <span>Pending DRS:</span>
    <span class="count">{{ pendingDrsCount }}</span>
  </div>

<form [formGroup]="drsForm" (ngSubmit)="onSubmit()" class="drs-form">

  <div class="row ">
    <div class="col-sm-6 mt-1">
        <div class="custom-field">
         <input type="text" id="drsNumber" formControlName="drsNumber" required placeholder=" "/>
         <label for="drsNumber">DRS Number</label>
        </div>
    </div>

    <!-- <div class="col-sm-6">
        <div class="custom-field">
         <input type="date" id="drsDate" formControlName="drsDate" required placeholder=" "/>
         <label for="drsDate">DRS Date</label>
        </div>
    </div> -->

  <div class="col-sm-6 mt-3 d-flex justify-content-start" style="padding-left: 20px;">
    <div class="file-upload w-100">
      <!-- <label class="upload-label">DRS Upload (Image)</label> -->
      <button mat-stroked-button color="primary" (click)="fileInput.click()" type="button">
        <mat-icon>upload</mat-icon>DRS Upload (Image)
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
      <!-- <div *ngIf="previewImage" class="preview">
        <img [src]="previewImage" alt="Preview" />
      </div> -->
    </div>
   </div>

   <!-- <div class="col-sm-3 mt-3 d-flex justify-content-end align-items-center">
    <button mat-raised-button color="accent" type="submit" class="submit-btn">
      SUBMIT
    </button>
  </div> -->

</div>

 <div class="row mt-4">
    <div class="col-sm-6 w-100">
    <!-- <div class="file-upload">
      <label class="upload-label">DRS Upload (Image)</label>
      <button mat-stroked-button color="primary" (click)="fileInput.click()" type="button">
        <mat-icon>upload</mat-icon> Choose File
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
      <div *ngIf="previewImage" class="preview">
        <img [src]="previewImage" alt="Preview" />
      </div>
    </div> -->
     <div *ngIf="previewImage" style="border: 1px solid #ccc; padding: 5px;" >
       <img [src]="previewImage" alt="Preview" style="width: 100%; height: 120px;" />
     </div>
   </div> 

  <div class="col-sm-6 mt-4 d-flex justify-content-end align-items-center">
    <button mat-raised-button color="accent" type="submit" class="submit-btn">
      SUBMIT
    </button>
  </div>

  </div>

  </form>
</div>



