* {
  font-size: 12px;
  padding-top: 1.1px;
  color: black;
}
.table-div{
  overflow: auto;
  max-height: 70vh;
}
form .col-sm-1{
  padding-right: 8px;
}
.btn {
  height: 26px;
}
.tracking-container {
  height: 60vh;
}

h4.section-title{
  color: black;
  padding-left: 38px;
  font-size: large;
  font-weight: 600;

}
h4.section-title:before {
  position: absolute;
  content: "";
  margin-top: 13px;
  margin-left: -43px;
  width: 34px;
  border: 1px solid #F8CA29;
  text-transform: uppercase;
}
.shipt {
  font-size: 24px;
  font-weight: 500;
  color: #224a89;
}
.shipt i{
  font-size: 24px;
}
input{
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-left: 10px; 
    padding-top: 10px; 
    font-family: auto;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
  } 
  .table thead tr th {
    padding: 4px 2px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    position: sticky;
  }
  .table tbody  tr  td {
     font-size: small;
    padding: 0 8px;
    text-align: center;
  }
  .table-responsive{
    /* max-height: 400px ;  */
    /* overflow: auto ;  */
     padding-top: 0 ;
    margin-bottom: 0;
    color: black;
    font-weight: 400;
    margin-top: 5px;

  }
  table , td ,th {
    border: 1px Solid #757373;
  }
form .col-sm-1{
    padding-right: 8px;
}
h3{
    margin: 0;
    font-size: 14px;
    font-family: auto;
    margin-bottom: 5px;
}
h4{
    color: #f8f9fa;
}
.modal-backdrop
{
    opacity:-0.5!important;
}
.modal-backdrop.in {
	opacity: 0.9;
}
.card{
    text-align: inherit;
    display: flex; 
    justify-content: center;
    margin: 4px;
    word-wrap: inherit;
    border: 2px solid  rgba(214, 226, 230, 0.874);
}
.card .card-body{
    padding: 1px 20px;
}
.custom-select{
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #d2d2d2; 
    border-radius: 0.25rem;
    padding-top: 5px; 
    font-family: auto;
    font-size: 15px;
}
.custom-select option{
  font-size: 15px;
}
label{
    margin-top: 4px;
    margin-bottom: 0;
}
.action button{
  width: 45px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #d2d2d2; 
  font-size: medium;
  padding: 0px 0px;
  height: 37px;
  margin-top: 0;
  margin-right: 7px;
  line-height: 26px;
  text-transform: capitalize;
}
.action .find
{
  background-color: #2e3f55;
  i{
    color: white;
  }
}
.action .clear
{
  background-color: red;
   i{
    font-size: larger;
    color: white;
}
}
/* .action .clear:hover,
.action .clear:focus
{
  background-color: white;
  color: red;
} */
.main-div{
  /* border: 1px solid black; 
  margin: 15px 0; */
  
}

@media  (min-width: 375px) and (max-width: 425px){
  .tracking-container {
    height: 22vh;
  }
  .custom-select{
    width: 93%;
  }
}

@media  (min-width: 320px) and (max-width: 375px){
  .tracking-container {
    height:  15vh;
  }
  .custom-select{
    width: 93%;
  }
}

::ng-deep .custom-snackbar {
  color: white !important;
  background-color: #0a990a !important;
  margin-top: 72px !important;
  margin-right: 66px !important;
  font-weight: 400 !important;
  font-size: 15px !important;
}
::ng-deep .error-snackbar{
  color: white !important;
  background-color: red !important;
  margin-top: 72px !important;
  margin-right: 66px !important;
  font-weight: 400 !important;
  font-size: 15px !important;

}
::ng-deep .mat-simple-snackbar-action button  {
color: white;
}
.mat-elevation-z8{
  max-height: 310px;
  overflow: auto;
}
.image-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.image-link:hover {
  color: darkblue;
  text-decoration: none;
}


  .textOnInput,
  .textOnSelect {
    position: relative;
    margin-bottom: 15px; 
  }
  
  .textOnInput label,
  .textOnSelect label {
    position: absolute;
    top: -13px;
    left: 7px;
    padding: 2px;
    z-index: 1;
    height: 20px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
  }
  
  .textOnInput label:after,
  .textOnSelect label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }