<div style="margin-left: 20px; margin-right: 20px;">
    <div class="card">
      <div class="card-body">
        <div class="container" style="padding: 1px;">
            <form>
                <div class="row">
                    <div class="col-md-1">
                <mat-label>Authority Letter</mat-label>
                    </div>
                    <mat-icon>print</mat-icon>
                <div class="col-md-1">
                 <mat-label>AWB</mat-label>
                 <mat-icon>Label</mat-icon>
                </div>
                <div class="col-md-1">
                 <mat-label>Box Label</mat-label>
                </div>
                <div class="col-md-1">
                 <mat-label>Invoice</mat-label>
               </div>

                
            </div>
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>AWB No.</mat-label>
                            <input matInput placeholder="Enter AWB No.">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Book Date</mat-label>
                            <input type="date" matInput placeholder="Enter Book date">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Time</mat-label>
                            <input type="time" matInput placeholder="Enter Time">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Reference No.</mat-label>
                            <input matInput placeholder="Enter Reference No.">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Client Name<span style="color: red;">*</span></mat-label>
                            <input matInput placeholder="Enter Client Name">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <mat-form-field appearance="outline">
                            <mat-label>Z012</mat-label>
                            <input matInput placeholder="Enter Z012">
                        </mat-form-field>
                    </div>
                
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Company</mat-label>
                            <input matInput placeholder="Enter Company">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title" style="text-align: center; font-weight: 600; color: black;">Shipper Details</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
         <h1 class="card-title" style="text-align: center; font-weight: 600; color: black;">Consignee Details</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h1 class="card-title" style="text-align: center; font-weight: 600; color: black;">Services Details</h1>
      </div>
    </div>
  </div>
  
