* {
  font-size: 12px;
  padding-top: 1.1px;
  color: black;
}
form .col-sm-1{
  padding-right: 0;
  padding-left: 7px;
}
form{
  margin-top: 10px;
  margin-bottom: 0.125rem;
}
.form-control,
.form-select {
  height: 26px;
}
input{
  border: 1px solid #d2d2d2; 
  border-radius: 0.25rem;
  padding-left: 10px; 
  padding-top: 10px; 
  font-family: auto;
}


form button{
width: 70px;
text-align: center;
border-radius: 8px;
font-weight: 600;
border: 1px solid #d2d2d2; 
font-size: medium;
padding-top: 1.1px;
height: 26px;
margin: 10px;
line-height: 26px;
text-transform: capitalize;
color: white;
background-color: #2e3f55;
}

.btn-save{
  background-color: #002b5c;
  color: whitesmoke;
}
h3{
  margin: 0;
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
  font-weight: 700;
  font-family: system-ui;
  word-wrap: inherit;
}
h4{
  color: #f8f9fa;
}
.modal-backdrop
{
  opacity:-0.5!important;
}
.modal-backdrop.in {
opacity: 0.9;
}
.card{
  text-align: inherit;
  display: flex; 
  justify-content: center;
  margin: 4px;
  border: 2px solid  rgba(214, 226, 230, 0.874);
  word-wrap: inherit;
}
.card .card-body{
  padding: 2px 20px;
}
  /* table  */
.table-responsive{
  max-height: 400px ; 
  overflow: auto ; 
   padding-top: 0 ;
  margin-top: 0 ;
}

table {
  width: 100%;
}
th.mat-header-cell {
  text-align: center;
}
table ,th {
  color: black;
}
table th{ 
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left: 0;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}
.mat-cell {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
}

tr.mat-row {
  height: 26px;
}
tr.mat-header-row {
  color: black;
  background-color: #a3b8d4;
  height: 30px;
  position: sticky;
  top: 0;
}

.Unload{
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #d2d2d2; 
  font-size: medium;
  color: white;
  background-color: #2e3f55;
}

.custom-select{
  height: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #d2d2d2; 
  border-radius: 0.25rem;
  padding-top: 5px; 
  font-family: auto;
}

label{
  margin-top: 3px;
  margin-bottom: 0;
}
th .form-control{
  height: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.checkbox{
  height: 18px;
width: 18px;
vertical-align: middle;
}
::ng-deep .mat-dialog-container {
  padding: 6px 2px !important; 
}
@media  (min-width: 320px) and (max-width: 425px){
  ::ng-deep .mat-dialog-container{
      max-height: 431px !important;
  }
  .cancel{
    margin-top: -33px;
}
}

.selected-row {
  background-color: #d3f9d8 !important;
  cursor: pointer !important;
}
