<div class="main-content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Audit-booking">
                        <app-audit-booking></app-audit-booking>
                    </mat-tab>
                    <mat-tab label="Rate-updation">
                        <app-audit-rate-updation></app-audit-rate-updation>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
  </div>
