 <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
    <div class="row d-flex m-0" style="border-bottom: 1px solid #d2d2d2;">
      <div class="col-sm-3 mt-3">
        <div class="textOnSelect">
          <label for="rateCustomer"><span style="color: red;">*</span>Customer Name :</label>
          <ng-select
            [items]="customerList"
            class="custom-select1"
            bindLabel="customerName"
            bindValue="customerCode"
            formControlName="rateCustomer">
          </ng-select>
        </div>
      </div>
     <div class="col-sm-9 mt-3 download-buttons d-flex pl-0" style="justify-content: start;">
        <button type="submit" class="pb-0 mt-0" matTooltip="Find">
        <i class="fa fa-search" style="color: darkslateblue; font-size: medium;"></i></button>
            <button type="button" class="pb-0 mt-0" [disabled]="!showTable" (click)="downloadRatePdf()" matTooltip="PDF"><i class="fa-solid fa-file-pdf"></i></button>
        <button type="button" class=" pb-0 mt-0" [disabled]="!showTable" (click)="downloadRateExcel()" matTooltip="XLs"><i
            class="fa-solid fa-table"></i></button>
        </div>
    </div>
  </form>

<div *ngIf="showTable && dataSource.data.length > 0">
    <div class="table-responsive">
       <div class="row d-flex m-0" style="justify-content: right;">
        <div class="form-group has-search col-sm-3" style="margin: 14px 0 0;">
          <button class="btn btn-secondary" type="button" style="z-index: 1001;
            position: absolute;
            background: none;
            top: -4px;
            width: 38px;
            height: 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #2e3f55;">
            <i class="fa fa-search" style="color: #a3b8d4; margin-top: -24px; margin-left: 1px;"></i>
          </button>
          <input type="text" class="form-control" #input (keyup)="applyFilter($event.target.value)" placeholder="Search.." id="Filter" style="border-radius: 11px; margin: 0px 0 0; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; height: 32px; padding-left: 48px;">
        </div>
       </div>
    </div>
      <div class="table-responsive text-nowrap">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-bordered table-striped " style="background-color: #e2e9f1;" matSort>
   <ng-container matColumnDef="srNo">
    <th mat-header-cell *matHeaderCellDef>Sr No</th>
    <td mat-cell *matCellDef="let element; let i = index">
      {{ i + 1 + (pageIndex * pageSize) }}
    </td>
  </ng-container>

  <!-- Origin Name -->
  <ng-container matColumnDef="OriginName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
    <td mat-cell *matCellDef="let element">{{ element.OriginName }}</td>
  </ng-container>

  <!-- Destination Name -->
  <ng-container matColumnDef="DestinationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
    <td mat-cell *matCellDef="let element">{{ element.DestinationName }}</td>
  </ng-container>

  <!-- Mode Name -->
  <ng-container matColumnDef="ModeName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode</th>
    <td mat-cell *matCellDef="let element">{{ element.ModeName }}</td>
  </ng-container>

  <!-- Product Name -->
  <ng-container matColumnDef="ProductName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
    <td mat-cell *matCellDef="let element">{{ element.ProductName }}</td>
  </ng-container>

  <!-- Zone Name -->
  <ng-container matColumnDef="ZoneName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
    <td mat-cell *matCellDef="let element">{{ element.ZoneName }}</td>
  </ng-container>

  <!-- Flight Name -->
  <ng-container matColumnDef="FlightName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight</th>
    <td mat-cell *matCellDef="let element">{{ element.FlightName }}</td>
  </ng-container>

  <!-- Lower Wt -->
  <ng-container matColumnDef="LowerWt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Lower Wt</th>
    <td mat-cell *matCellDef="let element">{{ element.LowerWt }}</td>
  </ng-container>

  <!-- Upper Wt -->
  <ng-container matColumnDef="UpperWt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Upper Wt</th>
    <td mat-cell *matCellDef="let element">{{ element.UpperWt }}</td>
  </ng-container>

  <!-- Rate -->
  <ng-container matColumnDef="Rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
    <td mat-cell *matCellDef="let element">{{ element.Rate }}</td>
  </ng-container>

  <!-- Active Date -->
  <ng-container matColumnDef="ActiveDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Active Date</th>
    <td mat-cell *matCellDef="let element">{{ element.ActiveDate }}</td>
  </ng-container>

  <!-- Closing Date -->
  <ng-container matColumnDef="ClosingDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Closing Date</th>
    <td mat-cell *matCellDef="let element">{{ element.ClosingDate }}</td>
  </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
   <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    (page)="handlePageEvent($event)">
  </mat-paginator>
      <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="totalPending"
      (page)="loadPage($event)"
      aria-label="Select page of pending DRS records">
    </mat-paginator> -->
   </div>
  <div *ngIf="!showTable" class="d-flex" style="justify-content: center;">
    <img src="./assets/images/NOdata.png" alt="" style="height: 425px;">
  </div>