table {
    width: 100%;
  }
  th.mat-header-cell {
    text-align: center;
  }
  table ,th {
    color: black;
  }
  table th{ 
    font-size: 17px;
    font-weight: 600;
    padding: 0 11px;
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 0;
  }
   td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
  }
  table , td ,th {
    border: 1px Solid #9b9898;
  }
  .mat-cell {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
  }
  tr.mat-row {
    height: 26px;
  }
  tr.mat-header-row {
    height: 30px;
    color: black;
    font-weight: 600;
    background-color:  #a3b8d4;
  }
  .mat-paginator-range-label {
    margin: 0 9px 0 12px;
  }
  .mat-mini-fab{
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
  .mat-mini-fab ::ng-deep .mat-button-wrapper {
    padding: 0 !important;
  }

  .error-message{
    color: red;
    padding-left: 10px;
    margin-top: -12px;
    padding-bottom: 6px;
  }
  ::ng-deep .custom-snackbar {
    color: white !important;
    --background-color: green !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}
::ng-deep .error-snackbar{
    color: white !important;
    background-color: red !important;
    margin-top: 72px !important;
    margin-right: 66px !important;
    font-weight: 400 !important;
    font-size: 15px !important;

}
::ng-deep .mat-simple-snackbar-action button  {
  color: white;
}