<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="Deliverd/RTC/RTO">
                        <app-deliverd></app-deliverd>
                    </mat-tab> 
                    <mat-tab label="Undeliverd">
                        <app-undeliverd></app-undeliverd>
                    </mat-tab> 
                    <mat-tab label="Bulk update">
                        <app-bulk-update></app-bulk-update>
                    </mat-tab> 
               </mat-tab-group>
            </div>
        </div>
    </div>
</div>