<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" (selectedIndexChange)="tabChanged($event)">
                    <mat-tab label="Booking">
                      <app-booking-tab></app-booking-tab>
                    </mat-tab>
                    <mat-tab label="Import"></mat-tab> 
                    <!-- <mat-tab label="FTL">
                      <app-ftl-tab></app-ftl-tab>
                    </mat-tab> -->
                    <!-- <mat-tab label="E-Ship-API">
                      <app-e-ship-api></app-e-ship-api>
                    </mat-tab>
                    <mat-tab label="Fast Entry">
                      <app-fast-entry-tab></app-fast-entry-tab>
                    </mat-tab> -->
                  <!--  <mat-tab label="Print">
                        <app-print-booking></app-print-booking>
                      </mat-tab>
                      <mat-tab label="International">
                        <app-international></app-international>
                      </mat-tab> -->
                      <!-- <mat-tab label="Booking">
                        <app-booking2></app-booking2>
                      </mat-tab> -->
                </mat-tab-group>
            </div>
        </div>
    </div>
  </div>

