<div class="container">
    <div class="row">
      <h4 mat-dialog-title>Credit Surface Mode</h4>
  
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">Vehicle Type</label>
            <div class="col-sm-7">
                <select class="selectpicker form-select">
                    <option disabled>select</option>
                    <option data-tokens="mustard">Own</option>
                    <option data-tokens="mustard">Rented</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-5 col-form-label">Vehicle Number</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputCity" placeholder="Enter vehicle no.">
            </div>
  
        </div>
        
        <div class="row" align="end">
            <div class="col-md-3">
                <!-- <button class='btn btn-success' (click)="openLoginModal()">LOGIN</button> -->
            </div>
            <div class="col-md-6 submitbtn">
                <button type="button" class="btn btn-save">Save</button>
                <button type="button" class="btn btn-danger" matDialogClose  (click)="CloseDialog()">Cancel</button>
            </div>
            <div class="col-md-3"></div>
  
  
        </div>
    </div>
  </div>